<!DOCTYPE html>
<html>
<head>
	<title>Welcome, <%= page_user %></title>
</head>
<body>
	<ul>
		<ol><a href="/users">Users</a></ol>
		<ol><a href="/courses">Courses</a></ol>
		<ol><a href="/enrollment">Enrollment</a></ol>
		<ol><a href="/enrollments">Enrollments</a></ol>
	</ul>
	<form action="/adminLogout" method="POST">
		<button type="submit">logout</button>
	</form>
</body>
</html>