<!DOCTYPE html>
<html>
<head>
	<title>Enrollment</title>
</head>
<body>
	<h1>Enrollment</h1>
    <div><a href="/users">Users</a></div>
    <div><a href="/courses">Courses</a></div>
    <div><a href="/enrollment">New Enrollment</a></div>
    <div><a href="/enrollments">Enrollments</a></div>
    </br>
    
	<form action="/enrollment" method="POST">
        <ul>
            <label for="course_name">Course name: </label>
            <input id="course_name" type="text" name="course_name"></ul>
        </ul>
        <ul>
            <label for="student_name">Student Name: </label>
            <input id="student_name" type="text" name="student_name"></ul>
        </ul>
		<button type="submit">enroll</button>
	</form>
</body>
</html>